<main class="container">
  <header>
    <h1 id="title">AWS Regions</h1>
  </header>
  <section>
    <p id="description">
      A region is a set of data centers deployed within a latency-defined perimeter and connected
      through a dedicated regional low-latency network.
      <a href="https://aws.amazon.com/about-aws/global-infrastructure/regions_az/" target="_blank">
        Learn more
      </a>
    </p>
  </section>
  <section>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Geography</th>
            <th scope="col">Region</th>
            <th scope="col">Display Name</th>
            <th scope="col">Availability Zone #</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let r of tableData">
            <td>{{ r.geography }}</td>
            <td>{{ r.name }}</td>
            <td>{{ r.displayName }}</td>
            <td>{{ r.availabilityZoneCount === 0 ? 'Not supported' : r.availabilityZoneCount }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
  <section>
    <h2 id="resources">Resources</h2>
    <ul>
      <li>
        <a
          href="https://github.com/blrchen/cloud-catalog/blob/main/src/assets/aws/regions.json"
          target="_blank"
        >
          regions.json
        </a>
      </li>
      <li>
        <a
          href="https://aws.amazon.com/about-aws/global-infrastructure/regions_az/"
          target="_blank"
        >
          AWS Regions and Availability Zones
        </a>
      </li>
    </ul>
  </section>
</main>
