<div class="container-fluid py-3">
  <h1 class="h2 fw-bold">ChatGPT Assistant</h1>

  <p id="description">
    Welcome to ChatGPT Assistant, your top place for discovering the amazing power of the ChatGPT
    API. Each assistant lets you try it yourself, so you can see how ChatGPT API can change your
    projects and work. Thanks for trying ChatGPT Assistant, and we hope you have fun!
  </p>

  <h2 class="h4 fw-bold">Writing Assistant</h2>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 mb-2" *ngFor="let card of textCards">
      <section class="card">
        <div class="card-body">
          <h3 class="card-title h5">{{ card.title }}</h3>
          <p class="card-text">{{ card.text }}</p>
          <a [href]="card.link" class="btn btn-primary" role="button">Try it now</a>
        </div>
      </section>
    </div>
  </div>

  <h2 class="h4 fw-bold">Code Assistant</h2>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 mb-2" *ngFor="let card of codeCards">
      <section class="card">
        <div class="card-body">
          <h3 class="card-title h5">{{ card.title }}</h3>
          <p class="card-text">{{ card.text }}</p>
          <a [href]="card.link" class="btn btn-primary" role="button">Try it now</a>
        </div>
      </section>
    </div>
  </div>
</div>
