<main class="container">
  <header>
    <h1 id="title">About AWS Speed Test</h1>
  </header>
  <section>
    <p>
      <a href="https://awsspeedtest.com" target="_blank">AWSSpeedTest.com</a>
      is an AWS speed test tool that allows you to test your network latency to AWS datacenters
      around the world.
    </p>
    <p>
      <a href="https://github.com/blrchen" target="_blank">Blair Chen</a>
      maintains
      <a href="https://awsspeedtest.com" target="_blank">AWSSpeedTest.com</a>
      as an open-source project on
      <a href="https://github.com/blrchen/aws-speed-test" target="_blank">GitHub</a>
      . This project utilizes various open-source technologies, including:
    </p>
    <ul>
      <li>
        <a href="https://github.com/angular/angular" target="_blank">Angular</a>
      </li>

      <li>
        <a href="https://github.com/twbs/bootstrap" target="_blank">Bootstrap</a>
      </li>
      <li>
        <a href="https://github.com/blrchen/cloud-catalog" target="_blank">Cloud Catalog</a>
      </li>
      <li>
        <a href="https://github.com/d3/d3-shape" target="_blank">d3-shape</a>
      </li>
      <li>
        <a href="https://github.com/swimlane/ngx-charts" target="_blank">ngx-charts</a>
      </li>
      <li>
        <a href="https://github.com/reactivex/rxjs" target="_blank">RxJS</a>
      </li>
    </ul>
  </section>
  <section>
    <h2>Feedback</h2>
    <p>
      If you encounter any bugs or would like to request a feature, please create an issue on
      <a href="https://github.com/blrchen/aws-speed-test/issues" target="_blank">Github</a>
      .
    </p>
  </section>
  <section>
    <h2>Contribution</h2>
    <p>
      Your contributions are greatly appreciated. To contribute, please fork the project on
      <a href="https://github.com/blrchen/aws-speed-test" target="_blank">GitHub</a>
      and submit a pull request.
    </p>
  </section>
</main>
